
<html>
<head>
<title>楽天books検索結果</title>
<h1>楽天books検索結果</h1>
<ul>
<li>検索結果の中から、書評を入力したい本の欄の「選択」ボタンを押してください。</li>
<li>「選択」ボタンを押したら書評を入力できます。</li>
</ul>
</head>
<body>
</body>
<p><a href="/">Topページへ戻る</p>
</html>

